@import './base/variables.css';
@import './base/reset.css';
@import './base/typography.css';

@import './layouts/header.css';
@import './layouts/main.css';
@import './layouts/hero.css';
@import './layouts/sobre-mim.css';
@import './layouts/tecnologias.css';
@import './layouts/projetos.css';
@import './layouts/footer.css';

@import './layouts/animations.css';