/* Animação de subir */
@keyframes fadeUp {
    /* Como começa */
    from {
        opacity: 0;
        transform: translateY(30px);
    } 
    /* Como termina */
    to {
        opacity: 1;
        transform: translateY(0);
    }
}