.hero {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.hero .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .text h1 {
    color: var(--color-primaria);
    text-shadow: 0 0 3px var(--color-primaria);
    font-size: 4.8rem;
    opacity: 0;
    animation: fadeUp 1s ease forwards;
    transition: transform 0.5s ease;
}


.hero .text p {
    font-weight: bold;
    width: 100%;
    opacity: 0;
    animation: fadeUp 3s ease forwards;
}

.hero .text button {
    width: 120px;
    position: relative;
    border: 3px solid var(--color-primaria);
    padding: 15px 18px 15px 18px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--color-primaria);
    font-size: 0.9rem;
    background: transparent;
    font-weight: 600;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.5s ease;
    opacity: 0;
    animation: fadeUp 3s ease forwards;
}

.hero .text button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--color-primaria);
    transition: width 0.5s ease;
    z-index: 0;
    color: white;
}

.hero .text button:hover::before {
    width: 100%;
}

.hero .text button span {
    position: relative;
    z-index: 1;
}

.hero .text button:hover {
    color: white;
    transform: scale(1.05);
}

.hero .foto {
    max-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}

.hero .foto img {
    opacity: 0;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
    box-shadow:
        0 0px 20px var(--color-primaria),
        0 0 10px rgba(31, 111, 235, 0.25);
    animation: fadeUp 3s ease forwards;
    animation-delay: 0.1s;
    transition: box-shadow 0.5s ease;
}

.hero .foto img:hover {
    box-shadow:
        0 0px 30px var(--color-primaria),
        0 0 20px rgba(31, 111, 235, 0.25);
}

.hero .foto:hover {
    transform: scale(1.05);
}